<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Magic Postman</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/element-ui@2.12.0.css">
	<link rel="icon" type="img/png" href="img/icon-128.png">
</head>

<body>
	<div id="main" class="flex" style="height: 100%;">
		<!-- template 防止首次打开抖动出现{{}} -->
		<template>
			<!-- 左侧边栏 -->
			<aside class="postman-aside shrink0 flex-view">
				<div class="flex1 scroll-y">
					<el-menu default-active="2" class="el-menu-vertical-demo">
						<el-submenu index="常用">
							<template slot="title">
								<i class="el-icon-folder-opened"></i>
								<span>常用</span>
							</template>
							<el-menu-item @click="handleTabsEdit(false, 'add', api)" v-for="(api, index) in apisObject['常用']" :key="index" :index="api.randomIndex">{{api.alias||api.url}}</el-menu-item>
						</el-submenu>
						<el-submenu :index="item" v-for="(item, index) in groupList" :key="index">
							<template slot="title">
								<i class="el-icon-folder-opened"></i>
								<span>{{item}}</span>
							</template>
							<el-menu-item @click="handleTabsEdit(false, 'add', api)" v-for="(api, index) in apisObject[item]" :key="index" :index="api.randomIndex">{{api.alias||api.url}}</el-menu-item>
						</el-submenu>
					</el-menu>
				</div>
				<!-- 左侧边栏底部 -->
				<footer class="postman-footer center">
					<el-button type="text" @click="groupFuncType = 2;dialog.group = true" icon="el-icon-setting">组管理</el-button>
					<el-button type="text" @click="dialog.introduce = true" icon="el-icon-info">说明</el-button>
				</footer>
			</aside>
			<!-- 右侧主功能 -->
			<section class="postman-main flex1 mlr12 mtb12">
				<el-tabs v-model="editableTabsValue" type="card" editable @edit="handleTabsEdit">
					<el-tab-pane :key="item.name" v-for="(item, index) in editableTabs" :label="item.name" :name="item.name">
						<div class="flex">
							<!-- 请求类型 -->
							<el-select v-model="item.method" style="min-width: 100px;">
								<el-option v-for="(item, index) in methods" :key="index" :label="item" :value="item">
								</el-option>
							</el-select>
							<!-- 发送 -->
							<el-input @keyup.native.enter="send(item)" v-focus placeholder="请输入要请求的链接地址" v-model="item.url" clearable class="flex1 mlr12"></el-input>
							<el-dropdown split-button type="primary" style="min-width: 121px;" @click="send(item)" :loading="item.loading">
								<i class="el-icon-s-promotion"></i> Send <el-dropdown-menu slot="dropdown">
									<!-- handleCommand -->
									<span @click="handleCommand('常用', item)">
										<el-dropdown-item>保存到“常用”</el-dropdown-item>
									</span>
									<span v-for="(name, index) in groupList" :key="index" @click="handleCommand(name, item)">
										<el-dropdown-item>保存到“{{name}}”</el-dropdown-item>
									</span>
									<span @click="handleCommand('新分组', item)">
										<el-dropdown-item>保存为...</el-dropdown-item>
									</span>
								</el-dropdown-menu>
							</el-dropdown>
						</div>
						<div class="flex mtb12">
							<div class="flex1 fxmiddle">
								<el-radio-group v-model="item.reqDisplayType">
									<el-radio label="key">键对值</el-radio>
									<el-radio label="json">JSON文本</el-radio>
								</el-radio-group>
							</div>
							<div>
								<el-button type="text" @click="setCookie" disabled="true">配置Cookie</el-button>
							</div>
						</div>
						<ul class="">
							<li v-if="item.reqDisplayType == 'key'">
								<ul>
									<li class="flex mb12" v-for="(p, index) in item.params" :key="index">
										<el-input placeholder="请输入Key" @keyup.native="editParams(item.params, 1)" v-model.trim="p.key" clearable style="width: 230px;" class=""></el-input>
										<el-input placeholder="请输入Value，或者粘贴对象到此处试试。提示：复杂json请使用json文本模式" v-model="p.value" clearable class="flex1 mlr12" @paste.native="paste(event, item)"></el-input>
										<div class="center">
											<el-button type="danger" :disabled="item.params.length===1" icon="el-icon-delete" size="mini" circle @click="editParams(item.params, 0, index)"></el-button>
										</div>
									</li>
								</ul>
							</li>
							<li v-else>
								<el-input v-model="item.data" placeholder="JSON文本.....复杂json我也能搞定！" type="textarea" :autosize="{ minRows: 4, maxRows: 15}"></el-input>
							</li>
						</ul>
						<div class="mtb12">
							<!-- <el-input placeholder="返回....." type="textarea" rows="10"><pre>{{item.response}}</pre></el-input> -->
							<div contenteditable="true" class="response-box">
								<pre>{{item.response}}</pre>
							</div>
						</div>
					</el-tab-pane>
				</el-tabs>
			</section>
			<!-- 分组设置 -->
			<el-dialog :title="groupFuncType === 2 ? '组管理' : '请选择一个分组'" :visible.sync="dialog.group" width="600px">
				<ul>
					<li class="flex">
						<el-radio v-model="selectGroup" label="">
							<el-input v-focus @keyup.native.enter="createNewGroup()" v-model.trim="newGroupName" style="width: 525px;" placeholder="若新建分组，请在这里输入新分组名称，回车键确认" :maxlength="16" clearable class="flex1 ml12"></el-input>
						</el-radio>
					</li>
					<li class="flex mt12">
						<div class="flex1 fxmiddle">
							<el-radio v-model="selectGroup" label="常用"><span class="ml12">常用</span></el-radio>
						</div>
						<div class="center">
							<el-button type="danger" @click="createNewGroup('常用')" icon="el-icon-delete" size="mini" circle></el-button>
						</div>
					</li>
					<li class="flex mt12" v-for="(item, index) in groupList" :key="index">
						<div class="flex1 fxmiddle">
							<el-radio v-model="selectGroup" :label="item"><span class="ml12">{{item}}</span></el-radio>
						</div>
						<div class="center">
							<el-button type="danger" icon="el-icon-delete" size="mini" circle @click="createNewGroup(item, index)"></el-button>
						</div>
					</li>
				</ul>
				<span slot="footer" class="dialog-footer">
					<el-button type="primary" @click="saveAs" :disabled="!selectGroup||groupFuncType === 2">确 定</el-button>
				</span>
			</el-dialog>
			<!-- 说明 -->
			<el-dialog title="说明以及待开发" :visible.sync="dialog.introduce" width="600px">
				<ul class="">
					<li class="middle flex mb12">
						<img src="img/icon-96.png" alt="">
						<p class="padtop10">Magic Postman ver 1.0.0</p>
					</li>
					<li class="flex mt12">
						<el-checkbox><span class="ml12">自定义携带cookie功能待开发，碰到此类网站，可以先登录，登录后随意跨域调试</span></el-checkbox>
					</li>
					<li class="flex mt12">
						<el-checkbox><span class="ml12">删除组内接口，给接口设定别名后保存待开发</span></el-checkbox>
					</li>
					<li class="flex mt12">
						<el-checkbox><span class="ml12">特殊情况未捕获可以F12打开调试面板查看</span></el-checkbox>
					</li>
					<li class="flex mt12">
						<el-checkbox><span class="ml12">页面UI优化，比如链接遮挡，样式丑陋等</span></el-checkbox>
					</li>
				</ul>
			</el-dialog>
		</template>
	</div>
</body>
<script type="text/javascript" src="js/vue.min.js"></script>
<script src="js/element-ui@2.12.0.js"></script>
<script type="text/javascript" src="js/vue.directive.js"></script>
<script type="text/javascript" src="js/axios@0.19.0.js"></script>
<script type="text/javascript" src="js/postman.js"></script>

</html>